@CHARSET "UTF-8";

.kb-layout{
	position: relative;
	overflow: hidden;
}
.kb-layout .kb-left-panel{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 200px;
	border: 1px solid gray;
}
.kb-layout .kb-right-panel{
	top: 0;
	left: 0;
	height: 100%;
	margin-left: 200px;
	border: 1px solid gray;
}

.kb-workspace{
	position: relative;
	overflow: auto;
	height: 100%;
}
.kb-view{
	position: absolute;
	top: 0;
	left: 0;
}
.kb-view .kb-image img{
	width: 100%;
	position: relative;
	z-index: -1;
}
.kb-view .kb-svg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.kb-svg svg{
	width: 100%;
	height: 100%;
}


.kb-icon-bar{
	padding: 10px;
}
.kb-icon{
	display: inline-block;
	padding: 10px;
	color: #333;
	text-decoration: none;
}
.kb-active{
	background-color: blue;
	color: white;
}


.kb-group{
	position: absolute;
	display: none;
	background-color: white;
}
.kb-group .kb-g-buton{
	vertical-align: middle;
	display: inline-block;
	padding: 3px;
	margin: 2px;
	background-color: gray;
	color: white;
}
.kb-group .kb-g-buton:hover{
	background-color: blue;
}

/* category */
.kb-category-item{
	height: 32px;
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	display: block;
}
.kb-category-item.actived{
	color: white;
	background-color: #428BCA;
}
.kb-category-item .kb-category-item-icon{
	height: 100%;
}
.kb-category-list{
	list-style: none;
	padding-left: 0;
}

